* {
  margin: 0;
}

.app__header {
  /* flex ~ put into rows/cols..cards/boxes... in websites...layout */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: rgb(224, 255, 250);
  font-family: Cambria;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}

@media (max-width: 990px) {
  .app {
    /* media query works on given width...following changes are applied */
    flex-direction: column;
  }
}

.app__left {
  flex: 0.9;
}
