* {
  margin: 0;
}

.app__header {
  /* flex ~ put into rows/cols..cards/boxes... in websites...layout */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #f1f1f1;
  font-family: Cambria;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(205, 255, 243);
  padding: 30px;
}

@media (max-width: 990px) {
  .app {
    /* media query works on given width...following changes are applied */
    flex-direction: column;
  }
}

.app__left {
  flex: 0.9;
}

.app__information > h3 {
  color: #000000;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

.app__header > h1 {
  color: #000000;
  font-size: 2rem;
}

.app__dropdown {
  background-color: white;
}
