.table {
  margin-top: 20px;
  /* to add scroll */
  overflow: scroll;
  color: #000000;
  background-color: white;
  height: 400px;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 1.2rem;
  border: none;
}

.table tr:nth-of-type(odd) {
  /* to change bg color of odd numbered rows */
  background-color: #ffffdc;
}
